header {
    top: 10;
    width: 100%;
}

body {
    background: url(../images/brownShitakemushroom.png);
    background-repeat: no-repeat;
    font-family: "Trirong", serif;
}

h1 {
    color: #EDE1D4;
    font-family: "Trirong", serif;
    justify-content: space-between;
    display: flex;
}

h2 {
    color: blanchedalmond;
    display: flex;
}

.cormorant-h2 {
    font-family: "Cormorant", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

p {
    color: beige;
    font-family: "Trirong", serif;
    text-align: justify;
    text-justify: inter-word;
}

footer {
    width: 100%;
    background: rgba(48, 37, 3, 0.416);
    background-blend-mode: darken;
}

.navbar {
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: space-between;
    top: 0px;
    background: rgba(231, 179, 9, 0.299);
    background-blend-mode: darken;
    background-size: cover;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
}

.nav-list {
    display: flex;
    list-style: none;
}

.nav-list li {
    margin-right: 20px;
}

.nav-list li:last-child {
    margin-right: 20;
}

.nav-list li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
}

.nav-list li a:hover {
    color: #3b3407;
    /* Change the color on hover */
}

.rightNav {
    text-align: right;
}

#search {
    padding: 8px;
    font-size: 16px;
    border: 2px solid #fff;
    border-radius: 5px;
}

.btn {
    color: #000;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.btn:hover {
    background-color: #000;
    /* Change the background color on hover */
    color: #ffd700;
}

.div-gral-format {
    margin: 1%;
    border: 20px 20px;
    padding: 10px 50px;
}

.div-headers {
    margin: 1%;
    border: 10px 10px;
    padding: 10px 10px 0px 50px;
}

.div-footer {
    margin: 1%;
    border: 10px 10px;
    padding: 10px 50px;
    display: flex;
    position: sticky;
    align-items: center;
}

.footerText{
    color: white;
}

.footerBottomText{
    color: white;
    font-size: 10px;
    padding: 15px;
    display: flex;
    position: sticky;
    align-items: center;
    margin: 1%;
    border: 10px 10px;
    padding: 10px 50px;
}